body {
    background-color: #000;
}
button a {
    background-color: red;
    color: #fff;
    font-size: 12px;
}

.btn-class {
    background-color: green;
    width: 200px;
    height: 30px;
    border-radius: 10px;
}
.btn-class:hover{
    background-color: #fff;
    color: red;
}